.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BEGIN CUSTOM CSS TO MATCH WIREFRAME */

*{text-transform:uppercase;font-family: "Gill Sans", sans-serif}

header.App-header{background:#FFD098;color:#747474;margin-top:30px;font-size:35px}

div.ui.labeled.input{margin:60px 40px}
div.ui.labeled.input div.ui.label{background:none;text-transform:uppercase;font-size:25px;color:black;font-weight:1;border:1px solid transparent;}
div#root div div.ui.labeled.input input[type="text"]:nth-child(2){border-left-color:#695A32;margin:15px}
div.ui.input input,div.ui.input input:focus{border-radius:0px;border:1px solid #755A16;background:#F2F2F2;width:100%;color:#695A32;font-size:20px;text-align:center;padding:5px;height:35px;}
div.ui.input input:not([type="date"]){text-transform:none}
.client-name div.ui.input input{min-width:345px}

table.ui.table{border:none;display:block;min-width:100%;margin:0;padding:0 10px 0 20px}
table.ui.table thead{min-width:100%;display:inline}
table.ui.table div.ui.input{width:100%}
tr{display:grid;grid-template-columns:2fr 4fr repeat(3,3fr) 1fr;width:100%;background:none;position:relative}
table.ui.table tbody{display:block}
table.ui.table tbody tr td{min-width:0px;border:none;padding:8px}
table.ui.table tr th{background:none;border:none;text-transform:uppercase;font-size:20px;font-weight:1.5;text-align:center;color:black;width:100%;padding:5px 5px 0}
table.ui.table tr th div.subtext{text-transform:none;color:#6C6B6B}
tbody tr td div.ui.selection.dropdown{background:#D3C4A7;font-size:20px;display:block;min-width:0px;min-height:0px;padding:7px}
div.visible.menu.transition{background:#DFD1B8}

div.ui.fitted.checkbox{display:block;height:35px;width:35px;margin:auto;}
div.ui.fitted.checkbox input{height:35px;width:35px}
div.ui.fitted.checkbox label::before,div.ui.checked.fitted.checkbox label::before{height:35px;width:35px;background:#D3D3D3;border:1px solid #755A16;border-radius:0px}
div.ui.checked.fitted.checkbox label::after{height:35px;width:35px;font-size:55px;font-weight:0.5;margin-top:7px;content:'✓';font-family:BlinkMacSystemFont;color:#7B6E4B}
button.ui.icon.button{background:#F2F2F2;color:#695A32;border:1px solid #755A16}
button.ui.icon.button:hover{background:#D3D3D3;color:#7B6E4B;}

div.ui.selection.dropdown i.dropdown.icon{padding:7px 0 0;}
i.dropdown.icon::before{color:white;font-size:40px}

@media print {
  .ui.button {
    display: none !important;
  }
}
